# Copy this over:
# cp .env.example .env
# Then modify to suit your needs
OPENAI_API_KEY=
LLM_MODEL=gpt-4o-mini
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
HORAIN_MCP_ENDPOINT=http://localhost:8080/mcp
HORAIN_MCP_AUTH_TOKEN=